<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">{{pageTitle}}</ion-title>
      <img class="logoauto" src="../../../assets/img/Tellevo.png" alt="Logo" slot="end" class="logo">
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-card >
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h1>Iniciar Sesión</h1>
      </ion-card-title>
      </ion-card-header>
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input  type="email"
                          [(ngModel)]="user.email" 
                          required 
                          placeholder="correo@corre.com" 
                          pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input  type="password"
                          [(ngModel)]="user.password"
                          pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{3,8}$"
                          required></ion-input>
          </ion-item>
      <ion-button shape="block" (click)="login()">Login</ion-button>
  </ion-card>

</ion-content>